html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,h7,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none; color: yellow;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{vertical-align:baseline;}
.vertical-top{vertical-align:top;}

.underline
{
  padding-bottom:5px;
  border-bottom: 1px solid #eee;
  margin:0 0 20px 0;
}

nav.vertical ul li{display:block;}
nav.horizontal ul li{display: inline-block;}
img{max-width:100%;}

body
{
  padding:50px 0px 30px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: url(../images/bg.svg) no-repeat center center fixed;
  background-size: cover;
}

.content
{
  margin: 0 auto;
  background: rgba(55, 53, 53, .85);
  border-radius: 4px;
}

.content_wide
{
  width: 85%;
  padding: 35px 0px 20px 0px;
}

.content_thick 
{
  width: 400px;
  padding: 35px 35px 35px 35px;
}

.content h1
{
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin: 0em 0em 1em 0em;
  text-shadow: 2px 2px #000;
  text-align: center;
}

.content h2
{
  font-size: 25px;
  font-weight: 600;
  color: whitesmoke;
  display: inline-block;
}

.content h3
{
  color: whitesmoke;
  font-size: 15px;
  margin: 25px 0px 0px 0px;
  text-shadow: 1px 1px #000;
}

.content h4
{
  color: black;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

.content h5
{
  color: yellowgreen;
  font-size: 14px;
  text-shadow: 1px 1px #000;
  text-align: left;
  margin: 5px 0px 0px 0px;
}

.content h6
{
  color: #2195F3;
  font-size: 20px;
  text-align: center;
}

form {
    display: table;
}
p {
    display: table-row;
}
label {
   display: table-cell;
   color: yellowgreen;
   font-size: 14px;
   text-shadow: 1px 1px #000;
   width: 50%;
}
input {
    display: table-cell;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #ccc;
    background: no-repeat 7px 7px;
    -webkit-appearance: none;
}

.content input:hover,.content input.active
{
    border:1px solid yellowgreen;
    box-shadow: 0px 0px 1px 0px rgba(44, 161, 204, 0.7);
}

.content select
{
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #ccc;   
    background: no-repeat 7px 7px;
    -webkit-appearance: none;
}

.content select:hover,.content input.active
{
    border:1px solid yellowgreen;
    box-shadow: 0px 0px 1px 0px rgba(44, 161, 204, 0.7);
}

.w3-container-fixed {
  height: 150px;
}

.w3-card-4 {
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
}

.w3-container-header {
  border-radius: 5px 5px 0 0;
}

.button {
  border: none;
  color: white;
  width: 150px;
  padding: 10px;
  float: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-submit{
  background-color: yellowgreen;
  margin-top: 20px;
  border-radius: 4px;
}

.button-cancel{
  background-color: gray;
  border-radius: 4px;
}

.button-launch{
  font-size: 14px;
  width: 100px;
  background-color: #2195F3;
  border-radius: 4px;
  margin-bottom: 20px;
}

.button-delete{
  font-size: 14px;
  width: 100px;
  background-color: tomato;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.button-back{
  margin-top: 30px;
  background-color: gray;
  border-radius: 4px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer
{
	position: fixed;
	bottom: 0;
	text-align: center;
}

.footer-distributed img
{
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.footer-distributed h5
{
	font-family: Nexa_Light;
	color: whitesmoke;
	font-size: 16px;
	text-shadow: 1px 1px #000;
}

.footer-distributed
{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 25px 50px;
	margin-top: 80px;
}

@media (max-width: 600px)
{
	.footer-distributed
	{
		float: none;
		margin: 0 auto 20px;
	}
	.footer-distributed
	{
		line-height: 1.8;
	}
}

@media (max-height:1400px)
{
  footer { position: static; }
  header { padding-top:40px; }
}

@media(max-width:768px)
{
  .content_wide { width: 95%; }
}

@media(max-width:500px)
{
  .content_thick {width: 80%;}
}

@media(max-width:400px)
{
	.content h2 {font-size: 18px;}
}
